$min-width: 310px;
$max-width: 1380px;
$base-font-size: 14px;
$base-line-height: 1.5;

$base-font: "ABremenCapsNr", sans-serif;
$pt-sans: "PTSans-Regular", sans-serif;

$transition: all .2s ease-out;

